{% extends "base.html" %}

{% block content %}

<div class="text-white mb-4">
    <h2>Registro de Candidato</h2>
    <p>Completa tus datos y adjunta tu CV para postular a las vacantes disponibles.</p>
</div>

<div class="card shadow p-4">

    <form action="/registrar_candidato" method="POST" enctype="multipart/form-data">

        <label class="form-label">Nombre Completo</label>
        <input
            class="form-control mb-3"
            type="text"
            name="nombre"
            placeholder="Ingrese su nombre completo"
            required
        >

        <label class="form-label">Correo Electrónico</label>
        <input
            class="form-control mb-3"
            type="email"
            name="correo"
            placeholder="ejemplo@gmail.com"
            required
        >

        <label class="form-label">Teléfono</label>
        <input
            class="form-control mb-3"
            type="text"
            name="telefono"
            placeholder="Ingrese su número"
        >

        <label class="form-label">Adjuntar CV</label>
        <input
            class="form-control mb-4"
            type="file"
            name="cv"
            accept=".pdf,.docx"
            required
        >

        <button class="btn btn-success">
            Enviar Postulación
        </button>

        <a href="/" class="btn btn-secondary">
            Volver
        </a>

    </form>

</div>

{% endblock %}