{% extends "base.html" %}

{% block content %}

<div class="text-white mb-4">
    <h2 class="fw-bold">Candidatos Registrados</h2>
    <p>Lista de postulantes que enviaron su información y CV.</p>
</div>

<div class="card shadow p-4">
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>CV</th>
            </tr>
        </thead>

        <tbody>
            {% for c in candidatos %}
            <tr>
                <td>{{ c.nombre }}</td>
                <td>{{ c.correo }}</td>
                <td>{{ c.telefono }}</td>
                <td>
                    <span class="badge bg-primary">
                        {{ c.cv }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/admin" class="btn btn-secondary mt-3">Volver</a>
</div>

{% endblock %}