{% extends "base.html" %}

{% block content %}

<div class="text-white mb-4">
    <h2 class="fw-bold">Vacantes Registradas</h2>
    <p>Lista de ofertas laborales creadas por el administrador.</p>
</div>

<div class="card shadow p-4">
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Cargo</th>
                <th>Empresa</th>
                <th>Experiencia</th>
            </tr>
        </thead>

        <tbody>
            {% for v in vacantes %}
            <tr>
                <td>{{ v.cargo }}</td>
                <td>{{ v.empresa }}</td>
                <td>
                    <span class="badge bg-info text-dark">
                        {{ v.experiencia }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/admin" class="btn btn-secondary mt-3">Volver</a>
</div>

{% endblock %}